* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background: linear-gradient(to top left, #28b487, #7dd56f); */
    background-color: #cce7ea;
  }
  
  .show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }
  
  .close-modal {
    display: block;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 30px;
    font-weight:30px;
    cursor: pointer;
    border: none;
    background: none;
    float: right;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1.8rem;
  }
  
  /* -------------------------- */
  /* CLASSES TO MAKE MODAL WORK */
  .hidden {
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 70%; */
    /* background-color: white; */
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 6;
  }
  
  
  .show-modal {
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .modal {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  *{
    font-family: sans-serif;
  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #b6eaf0;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #101010;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #101010;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #101010;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #101010;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus~label,
  .login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #666969;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #101010;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #e7e7ea;
    color: #101010;
    border-radius: 5px;
    box-shadow: 0 0 5px #e7e7ea,
        0 0 25px #e7e7ea,
        0 0 50fpx #e7e7ea,
        0 0 100px #e7e7ea;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #101010);
    animation: btn-anim1 3s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
        left: -100%;
    }
  
    50%,
    100% {
        left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #101010);
    animation: btn-anim2 3s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim2 {
    0% {
        top: -100%;
    }
  
    50%,
    100% {
        top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #101010);
    animation: btn-anim3 3s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
        right: -100%;
    }
  
    50%,
    100% {
        right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #101010);
    animation: btn-anim4  3s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
  
    50%,
    100% {
        bottom: 100%;
    }
  }
  